name: Test

on: [push, pull_request]

jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Build container
        run: docker build -t pandare/igloo:penguin .
      - name: Run unit tests
        working-directory: unittest
        run: ./test.sh
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Build container
        run: docker build -t pandare/igloo:penguin .
      - name: Run tests
        working-directory: tests
        run: ./test.sh